.processesmain-container {
    padding-left: 5%;
    padding-right: 5%;
}
.idcardNav__Items {
    display: flex;
    flex-direction: row;
    font-family: Poppins;
    padding-top: 1%;
}
.idcardnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3%;
}
.idcardNav__Link {
    padding-left: 30px;
}
.idcardNav__Link a {
    text-decoration: none;
    color: #5CB85C;
}
.idcardNav__Link a:hover {
    text-decoration: 2px solid underline #5CB85C;
    color: #5CB85C;
}
.idcardnavbtn2 {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #FFBF30;
    padding: 12px 30px;
    border-radius: 10px;
    border: none
}
.idcardnavbtn2 i {
    background-color: #FFBF30;
    color: #FFFFFF;
}
.idcardnavbtn1{
    background-color: #5CB85C;
    text-decoration: none;
    color: #FFFFFF;
    padding: 12px 30px;
    border-radius: 10px;
    border: none;
}
.Navbar__Link-toggle {
    display: none;
  }
  .idcardnavlogo img {
    width:  150px;
    height: 90px;
}
.idcardnavbtn1 i {
    background-color: #5CB85C;
    color: #F5F5F5;
}
.idcardNav__Linkitems {
    display: flex;
    flex-direction: row;
    padding-top: 1%;
}
.firstcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
}
.firstcontainer1 {
    width: 50%;
    padding-top: 10%;
}
.firstcontainer1 h1 {
    font-family: Poppins;
    font-size: 46px;
    font-weight: bold;
}
.firstcontainer1 p {
    font-size: 17px;
    padding-bottom: 25px;
    font-family: Poppins;
}
.firstcontainerbtn button{
    padding: 10px 40px;
    background-color: #FFBF30;
    color: #FFFFFF;
    font-family: Poppins;
    border-radius: 5px;
    border: none;
}
.processdiv {
    padding-bottom: 50px;
}
.processdiv h1{
    font-family: Poppins;
    font-size: 46px;
    color: #333333;
}
.processdiv p {
    font-size: 17px;
    color: #ADADB8;
    font-family: 'Open Sans';
    /* padding-left: 20%;
    padding-right: 20%; */
}
.processimg {
    box-sizing: border-box;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 80px;
}
.processimg img {
    width: 100%;
    padding-left: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* .processdiv h1 {
    text-align: center;
    padding-top: 70px;
} */
.processcontact {
    display: flex;
    flex-direction: row;
}
.processheading {
    width: 50%;
}
.processform {
    border: 1px solid #1B1C1E;
    border-radius: 15px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 4%;
    padding-top: 3%;
    width: 80%;
    text-align: justify;
}
.indexcontform {
    padding-top: 3%;
}
.processheading h1 {
    font-size: 46px;
    font-family: Poppins;
    color: #333333;
    font-weight: bold;
}
.processheading p {
    font-size: 17px;
    font-family: Open Sans;
}
.processnames {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.processform input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
    border-radius: 12px;
    outline: none;
  }
.processform textarea {
    height: 170px;
    resize: none;
    margin-top: 6px;
}
.fname {
    width: 100%;
    padding-bottom: 10px;
}
.companyname {
    width: 100%;
    padding-bottom: 10px;
}
.email {
    padding-bottom: 10px;
}
.message {
    padding-bottom: 10px;
}
input[type=submit] {
    background-color: #FFBF30;
    color: #FFFFFF;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    font-family: Poppins;
    border-radius: 12px;
    width: 100%;
  }
.processfooter {
    color: #ADADB8;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}
.indexcontform {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}
.indexform1 {
    width: 30%;
}
.indexform2 {
    width: 30%;
}
.indexform3 {
    width: 30%;
}
.indexform2 h1 {
    font-size: 20px;
}
.indexform2 p {
    margin: 0;
    font-size: 14px;
}
.indexform1 a i {
    color: #FFBF30;
}
.indexform1links {
    justify-content: space-between;
    width: 50%;
    display: flex;
}
.call-us {
    padding-bottom: 40px;
}
.ouraddress {
    padding-bottom: 40px;
}
.call-email {
    padding-bottom: 40px;
}
.bushours {
    padding-bottom: 40px;
}
#idreadmore {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 150px;
    font-family: Poppins;
    text-align: justify;
}
#idreadmore h1 {
    font-size: 46px;
    font-weight: bold;
    font-family: Poppins;
    margin-bottom: 25px;
}
#idreadmore p {
    list-style-type: none;
}
.id-readmore2 p {
    color: #ADADB8;
}
.id-readmore1 p span{
    font-weight: bold;
}
.id-readmore2 {
    margin-top: 80px;
    margin-bottom: 80px;
}
.id-readmore3 p {
    color: #000000;
}
.id-readmore2 p span {
    font-weight: bold;
}
.id-readmore3 h1 {
    text-align: center;
    margin-bottom: 30px;
}
.yellow-word {
    color: #FFBF30;
}
.IDbenefits1 {
    width: 252px; 
    padding: 50px 25px;
    box-shadow: 0px 0px 5px #374957;
    border: none;
    border-radius: 16px;
    text-align: center;
    margin-bottom: 90px;
}
.IDbenefits2 {
    width: 252px; 
    padding: 50px 25px;
    box-shadow: 0px 0px 5px #374957;
    border: none;
    border-radius: 16px;
    text-align: center;
    margin-bottom: 50px;
}
.IDbenefits3 {
    width: 252px; 
    padding: 50px 25px;
    box-shadow: 0px 0px 5px #374957;
    border: none;
    border-radius: 16px;
    text-align: center;
    margin-bottom: 99.55px;
}
.IDbenefits4 {
    width: 252px; 
    padding: 50px 25px;
    box-shadow: 0px 0px 5px #374957;
    border: none;
    border-radius: 16px;
    text-align: center;
}
.IDbenefits5 {
    width: 252px; 
    padding: 50px 25px;
    box-shadow: 0px 0px 5px #374957;
    border: none;
    border-radius: 16px;
    text-align: center;
}
.IDbenefits6 {
    height: 244.01px;
    width: 252px; 
    padding: 50px 25px;
    box-shadow: 0px 0px 5px #374957;
    border: none;
    border-radius: 16px;
    text-align: center;
}
.ID-service-3-sect p {
    font-size: 16px;
    font-family: Poppins;
    margin-top: 30px;
    font-weight: bold;
}
.IDbenefitsleft {
    display: flex;
    flex-direction: column;
}
.IDbenefitsmiddle {
    display: flex;
    flex-direction: column;
}
.IDbenefitsright {
    display: flex;
    flex-direction: column;
}
.ID-service-3-sect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
}
@media only screen and (max-width: 1128px){
    .ID-service-3-sect {
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
    #idreadmore {
        padding-left: 0;
        padding-right: 0;
    }
}
@media only screen and (max-width: 768px) {
    .idcardNav__Linkitems {
        flex-direction: column;
    }

    .idcardnav {
        flex-direction: column;
    }
    .idcardNav__Items {
        flex-direction: column;
    }
    .idcardNav__Link a {
        color: #5CB85C;
        text-decoration: none;
        float: right;
    }

    .idcardNav__Items {
        display: none;
        color: #F2F2F2;
    }
    .Navbar__ToggleShow {
        display: flex;
        align-self: flex-end;
    }

    .Navbar__Link-toggle {
        padding-top: 15px;
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
    }
    .toggleicon i {
        color: #5CB85C;
        width: 30px;
        height: 30px;
    }
    .firstcontainer{
        display: flex;
        flex-direction: column;
    }
    .firstcontainer1{
        width: 100%;
    }
    .processdiv  {
        width: 100%;
    }
    .contact {
        width: 100%;
    }
    .processdiv p {
        padding-left: 5%;
        padding-right: 5%;
    }
    .processheading {
        width: 100%;
    }
    .indexcontform {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .indexform1 {
        width: 100%;
    }
    .indexform2 {
        width: 100%;
    }
    .indexform3 {
        width: 100%;
    }
    .processform {
        width: 100%;
    }
    .IDservice-3 {
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
    .ID-service-3-sect{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .IDbenefitsleft {
        text-align: center;
        align-self: center;
        margin-bottom: 30px;
    }
    .IDbenefitsmiddle {
        text-align: center;
        align-self: center;
        margin-bottom: 30px;
    }
    .IDbenefitsright {
        text-align: center;
        align-self: center;
    }
    .IDservice-3 {
        width: 100%;
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    #idreadmore h1 {
        font-size: 30px;
    }
    #idreadmore {
        padding-left: 2%;
        padding-right: 2%;
        margin-top: 50px;
    }
}