.processesmain-container {
    padding-left: 5%;
    padding-right: 5%;
}
.idcardNav__Items {
    display: flex;
    flex-direction: row;
    font-family: Poppins;
    padding-top: 1%;
}
.idcardnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3%;
}
.idcardNav__Link {
    padding-left: 30px;
}
.idcardNav__Link a {
    text-decoration: none;
    color: #5CB85C;
}
.idcardNav__Link a:hover {
    text-decoration: 2px solid underline #5CB85C;
    color: #5CB85C;
}
.idcardnavbtn2 {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #FFBF30;
    padding: 12px 30px;
    border-radius: 10px;
    border: none
}
.idcardnavbtn2 i {
    background-color: #FFBF30;
    color: #FFFFFF;
}
.idcardnavbtn1{
    background-color: #5CB85C;
    text-decoration: none;
    color: #FFFFFF;
    padding: 12px 30px;
    border-radius: 10px;
    border: none;
}
.Navbar__Link-toggle {
    display: none;
  }
  .idcardnavlogo img {
    width:  150px;
    height: 90px;
}
.idcardnavbtn1 i {
    background-color: #5CB85C;
    color: #F5F5F5;
}
.idcardNav__Linkitems {
    display: flex;
    flex-direction: row;
    padding-top: 1%;
}
.firstcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
}
.firstcontainer1 {
    width: 50%;
    padding-top: 10%;
}
.firstcontainer1 h1 {
    font-family: Poppins;
    font-size: 46px;
    font-weight: bold;
}
.firstcontainer1 p {
    font-size: 17px;
    padding-bottom: 25px;
    font-family: Poppins;
}
.firstcontainerbtn button{
    padding: 10px 40px;
    background-color: #FFBF30;
    color: #FFFFFF;
    font-family: Poppins;
    border-radius: 5px;
    border: none;
}
.processdiv h1{
    font-family: Poppins;
    font-size: 46px;
    color: #333333;
}
.processdiv p {
    font-size: 17px;
    color: #ADADB8;
    font-family: 'Open Sans';
    padding-left: 20%;
    padding-right: 20%;
}
.processimg {
    box-sizing: border-box;
    /* width: 100%; */
    padding-top: 5%;
    padding-bottom: 10%;
}
.processimg img {
    width: 100%;
    padding-left: 2%;
}
.processdiv  {
    text-align: center;
    padding-top: 100px;
}
.processcontact {
    display: flex;
    flex-direction: row;
}
.processheading {
    width: 50%;
}
.processform {
    border: 1px solid #1B1C1E;
    border-radius: 15px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 4%;
    padding-top: 3%;
}
.processheading h1 {
    font-size: 46px;
    font-family: Poppins;
    color: #333333;
    font-weight: bold;
}
.processheading p {
    font-size: 17px;
    font-family: Open Sans;
}
.processnames {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 5%;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px 0px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-radius: 12px;
  }
textarea {
    height: 170px;
}
.fname {
    width: 100%;
    padding-right: 25px;
    padding-bottom: 25px;
}
.companyname {
    width: 100%;
    padding-bottom: 25px;
}
.email {
    padding-bottom: 25px;
}
.message {
    padding-bottom: 25px;
}
input[type=submit] {
    background-color: #FFBF30;
    color: #FFFFFF;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    font-family: Poppins;
    border-radius: 12px;
    width: 100%;
  }
.processfooter {
    color: #ADADB8;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}
@media only screen and (max-width: 768px) {
    .idcardNav__Linkitems {
        flex-direction: column;
    }

    .idcardnav {
        flex-direction: column;
    }
    .idcardNav__Items {
        flex-direction: column;
    }
    .idcardNav__Link a {
        color: #5CB85C;
        text-decoration: none;
        float: right;
    }

    .idcardNav__Items {
        display: none;
        color: #F2F2F2;
    }
    .Navbar__ToggleShow {
        display: flex;
        align-self: flex-end;
    }

    .Navbar__Link-toggle {
        padding-top: 15px;
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
    }
    .toggleicon i {
        color: #5CB85C;
        width: 30px;
        height: 30px;
    }
    .firstcontainer{
        display: flex;
        flex-direction: column;
    }
    .firstcontainer1{
        width: 100%;
    }
    .processdiv  {
        width: 100%;
    }
    .contact {
        width: 100%;
    }
    .processdiv p {
        padding-left: 5%;
        padding-right: 5%;
    }
    .processheading {
        width: 100%;
    }
}