*{
    padding: 0;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    background-color: #FFFFFF;
}
header {
    z-index: 99999;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #FFFFFF;
}
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans'); */
.idcardNav__Items {
    display: flex;
    flex-direction: row;
    font-family: Poppins;
    padding-top: 1%;
}
.idcardnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1%;
    background-color: #FFFFFF;
}
.idcardNav__Link {
    padding-left: 30px;
}
.idcardNav__Link a {
    text-decoration: none;
    color: #5CB85C;
}
.idcardNav__Link a:hover {
    cursor: pointer;
    text-decoration: 2px solid underline #5CB85C;
}
.idcardnavlogo img {
    width:  150px;
    height: 90px;
}
.idcardnavbtn2 {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #FFBF30;
    padding: 12px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.idcardnavbtn2 i {
    background-color: #FFBF30;
    color: #FFFFFF;
}
.idcardnavbtn1{
    background-color: #5CB85C;
    text-decoration: none;
    color: #FFFFFF;
    padding: 12px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.idcardnavbtn1 i {
    background-color: #5CB85C;
    color: #F5F5F5;
} 
.idcardNav__Linkitems {
    display: flex;
    flex-direction: row;
    padding-top: 1%;
}
.Navbar__Link-toggle {
    display: none;
}
.dropdown {
    position: relative;
    display: flex;
  }
  
.dropdown-content {
    display: none;
    position: relative;
    min-width: 160px;
    overflow: auto;
}
  
.dropdown-content a {
    color: #5CB85C;
    padding: 12px 0px;
    text-decoration: none;
    font-family: Poppins;
    display: block;
}
  
.dropdown a:hover {
    background-color: rgba(92, 184, 92, 0.5);
    cursor: pointer;
    text-decoration: none;
}
.show {
    display: flex;
    flex-direction: column;
}
.mySlides {
    display: none
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    animation-fill-mode: forwards;
    height: 100vh;
}

.slider1 {
    height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.slider2 {
    height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.home1 h1 {
    font-family: Poppins;
    font-size: 46px;
    color: #333333;
    margin-bottom: 0;
    padding-bottom: 0%;
    font-weight: bold;
}
.home1 p {
    font-family: Open Sans;
    font-size: 17px;
    color: #ADADB8;
}
.home1 h2 {
    font-family: Poppins;
    font-size: 25px;
    color: #ADADB8;
}
.slider1 .home1 {
    width: 50%;
}
.slider2 .home1 {
    width: 50%;
}
.home1 {
    padding-top: 15%;
}
.home1image {
    padding-top: 10%;
}
.slider1btn button {
    padding: 12px 40px;
    background-color: #FFBF30;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}
.slider1btn button:hover {
    transition: all 0.5s ease;
    transform: scale(1.1);
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
    .idcardNav__Linkitems {
        flex-direction: column;
    }

    .idcardnav {
        flex-direction: column;
    }
    .idcardNav__Items {
        flex-direction: column;
    }
    .idcardNav__Link a {
        color: #333333;
        text-decoration: none;
        float: right;
    }
/* 
    .Navbar__Link-active a {
        padding-left: 13%;
    } */

    .idcardNav__Items {
        display: none;
        color: #F2F2F2;
    }
/* 
    .Navbar__Items--right {
        margin-left: 0;
    } */

    .Navbar__ToggleShow {
        display: flex;
        align-self: flex-end;
    }

    .Navbar__Link-toggle {
        padding-top: 15px;
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
    }
    .toggleicon i {
        color: #5CB85C;
        width: 30px;
        height: 30px;
    }
    .slider1 .home1 {
        width: 100%;
        padding-top: 10%;
    }
    .slider2 .home1 {
        width: 100%;
        padding-top: 10%;
    }
    .slider1 {
        display: flex;
        flex-direction: column;
        padding-top: 10%;
    }
    .slider2 {
        display: flex;
        flex-direction: column;
        padding-top: 10%;
    }
  }